/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

body {
  background-color: #efefef;
  width: 100%; }

img {
  width: 100%; }

#filler-container {
  width: 80%;
  margin: 0px auto;
  max-width: 1400px; }
  #filler-container .poster {
    max-width: 300px; }
