<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @homepage_tile.text %>
</p>

<%= link_to 'Edit', edit_homepage_tile_path(@homepage_tile) %> |
<%= link_to 'Back', homepage_tiles_path %>
