<div id="blog-container">
  <% @posts.each do |post| %>
    <section>
      <h3><%= post.title %></h3>
      <div><%= post.created_at.strftime("%m / %y") %></div>
      <div class="blog-image">
        <%= image_tag(post.cover_image.url) %>
      </div>
      <p><%= post.body %></p>
    </section>
  <% end %>
</div>