<div id="site-title">
  <div class="img"><%= image_tag('owls2.png') %></div>
  <div class="text">
    <h4>Galavanting</h4>
    <p>the</p>
    <h4>Globe</h4>
  </div>
</div>
<nav id="navigation">
  <div class="nav-item">
    <%= link_to "Blog", "/posts", :method => :get %>
  </div>
  <div class="nav-item">
    <%= link_to "Food", "/food", :method => :get %>
  </div>
  <div class="nav-item">
    <%= link_to "About", "/about", :method => :get %>
  </div>
</nav>